
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Proyecto = (List<Project_Manager.Services.BO.TblProyectosBO>)ViewBag.ProyectoList;

}

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tablas de Empleados</h1>
            <p class="mb-4">Esta tabla contiene todos los datos basicos de todos los empleados.</p>
            <!-- DataTales Example -->
            @if (Proyecto.Count > 0)
            {
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Datos de los empleados</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                                <thead>

                                    <tr>
                                        <th scope="col">Folio</th>
                                        <th scope="col">Nobre del proyecto</th>
                                        <th>Fecha de entrega</th>
                                        <th>Seleccionar</th>
                                    </tr>

                                </thead>

                                <tbody>

                                    @foreach (Project_Manager.Services.BO.TblProyectosBO item in Proyecto)
                                    {
                                        <tr>
                                            <td>@item.Folio</td>
                                            <td>@item.NombreProyecto</td>
                                            <td>@item.FechaLimite</td>
                                            <td align="center">
                                                    <button type="button" class="btn btn-warning">Tomar proyecto</button>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h2> Sin resultados</h2>

            }

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; FernandoISK 2019</span>
            </div>
        </div>
    </footer>
</div>

