
@{
    ViewBag.Title = "Requisito";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Requisitos = (List<Project_Manager.Services.BO.TblRequisitosBO>)ViewBag.incidenciasList;
}


<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Lista de incidencias</h1>
    </div>

    <div class="row">
        @if (Requisitos.Count != 0)
        {
            foreach (Project_Manager.Services.BO.TblRequisitosBO item in Requisitos)
            {
                <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
                                @item.Titulo<span>|</span>
                                <span class="text-muted justify-content-end">|@item.NombreProyecto</span>
                            </h6>
                        </div>
                        <div class="card-body">
                            @item.Descripcion
                        </div>
                    </div>

                </div>
            }
        }
        else
        {
            <h1>No tiene ninguna tarea Pendiente</h1>
        }
    </div>
</div>